.wrapper-addresses {
  background-color: white;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  // position: absolute;
}

.wrapper-page-addresses {
  position: relative;
}

.address-add {
  margin-top: 10px;
  position: absolute;
  right: 15px;
}

.order-add {
  margin-top: 10px;
  position: absolute;
  right: 230px;
}

.address-mob-links{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.address-add-mob {
  flex: 0 1 auto;
  width: 48%;
}

.order-add-mob {
  flex: 0 1 auto;
  width: 48%;
}
