.contact_wrapper{
  background-color: white;
  margin-top: 50px;
  margin-bottom: -20px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  ul{
    width:100%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
    li {
      padding-right: 40px;
      font-size: 20px;
    }
  }


  a {

    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 35px;
    letter-spacing: 1px;
  }
}

.avatar-circle{
  width: 25%;
  height: 70%;
  border-radius: 50%;
  border: 3px solid white ;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4) ;
}

.avatar-circle-mob{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 25%;
  height: 70%;
  border-radius: 50%;
  border: 2px solid white ;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.developers {
  position: relative;
  width: 100%;
  height: 200px;



  img {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .dev-name {
    position: absolute;
    top: 40px;
    left: 250px;
  }
  .dev-job {
    position: absolute;
    top: 90px;
    left: 260px;
  }
  .dev-email {
    position: absolute;
    top: 120px;
    left: 260px;
  }
}

.developers-2 {
  position: relative;
  width: 100%;
  height: 200px;



  img {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .dev-name-2 {
    position: absolute;
    top: 40px;
    left: 250px;
  }
  .dev-job-2 {
    position: absolute;
    top: 90px;
    left: 260px;
  }
  .dev-email-2 {
    position: absolute;
    top: 120px;
    left: 260px;
  }
}
