.contact_wrapper{
  background-color: white;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  // ul{
  //   li {
  //     padding-left: 10px;
  //     font-size: 20px;
  //   }
  // }

  hr {
    margin-bottom: 60px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1) ;
  }
  a {

    &:hover {
      color: #da552f;
      text-decoration: none;
    }
  }

  h3 {
    font-size: 30px;
    margin-bottom: 50px;
    letter-spacing: 1px;
  }
}
.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  li {
    flex: 0 1 auto;
    width: 45%;
  }
}

.dev-img-wrapper{
  flex: 0 1 auto;
  max-height: 110px;
  max-width: 110px;
}

.avatar-circle{
  border-radius: 50%;
  border: 3px solid white ;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4) ;
}

.avatar-circle-mob{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 35%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid white ;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}


.developers {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.dev-info {
  flex: 0 1 auto;
  width: 50%;
}
