#map {

  height:200px;

}
.contact{
  float:left;
  color:#fff;
}
.locations {
  float:right;
}
.container-body{
  background-color: #77000D;
}
#footer h4{
  color: #fff;
}
#footer {
  background: #000;
  margin-top:100px;
  padding-bottom: 40px;
}

.menu-item a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

#map {
  display: flex;
  height: 200px;
  width: 100%;
}
