.mobile-nav{
  background-color: #66C9B8;
  width: 100%;
  height: 40px;
  border: 1px solid #4AA394;
  display: flex;
  justify-content: space-between;
}

.dropdown-wrapper{
  flex: 0 1 auto;
  width: 40%;
  button {
    width: 100%;
  }

  ul {
    hr {
      margin: 7px 0;
    }
  }
}
.modal-backdrop.in {
  height: 100vh;
}

.empty-cart-mob {
  i {
    margin-top: 10px;
    font-size: 65px;
    color: #777777;
  }
}

#myModal {
  background: transparent;
  box-shadow: none;
  width: 95%;
}
.modal-wrapper {
  flex: 0 1 auto;
  width: 40%;
  button {
    width: 100%;
  }
}
.white-menu-item-wrapper-mob {
  width: 100%;
  margin-top: 20px;
  background-color:white;
  position: relative;
  height: 280px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.menu-item-image-mob {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 4px;
}

.menu-item-name-mob {
  position: absolute;
  font-size: 16px;
  color: #4F4F4F;
  bottom: 8%;
  left: 5%;
}

.menu-item-price-mob {
  position: absolute;
  font-size: 16px;
  bottom: 2%;
  right: 15%;
}

.menu-item-cart-mob {
  position: absolute;
  font-size: 28px;
  color: #26a69a;
  bottom: 2%;
  right: 5%;

  &:hover {
    color: #24BDAE;
  }
}

.counter{
  background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 5px;
    padding: 2px 4px 3px;
    font: 12px Verdana;
    margin-left: 5px;
}

.btns-mob-modal{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  vertical-align: center;
}

.btn-modal{
  flex: 0 1 auto;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 15px;
  button {
    background-color: #C83F3F;
  }
}
.clear-modal {
  flex: 0 1 auto;
  width: 45%;
  margin-top: 10px;
  margin-bottom: 15px;
  a {
    width: 100%;
    background-color:  #DB5E09;
  }
}

.total-mob {
  font-size: 28px;
  span {
    color: green;
  }
  margin-bottom: 25px;
}

.proceed-mob{
  width: 100%;
  height: 40px !important;
  margin-top: 20px !important;

}
.modal-footer{
  height: 100% !important;
}
