.order-show-wrapper {
  background-color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  h2 {
    color: #777777;
    font-size: 35px;
    margin-bottom: 33px;
  }

}


.final-bill{
  color: #2AAD2A;
  font-size: 48px;
  margin-bottom: 35px;
}

.back-order-show-btn {
  width: 100%;

}
