.sign-up-wrapper{
  background-color: white;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

  h2 {
    color: #777777;
    margin-bottom: 20px;
  }
}


.sign-up-btn-1{
  width:100%;
  margin: 20px 0;
}
