<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="order-form-wrapper">
        <h2 class="text-center">Address & Special Request</h2>
        <h5>
          want to add a new address ?
          <%= link_to "Click here", new_address_path ,class: "click-here-btn" %>
        </h5>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

