<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <div class="box-add">
        <%= link_to "Add a new item", new_item_path %>
        <%= render "shared/form_items" %>
      </div>
    </div>
  </div>
</div>
